*{font-style: oblique;}
p{color: rgb(41, 241, 248);}


try1{color: rgb(37, 255, 255);}
try1{text-align: center;}
input :checked{color:rosybrown;}
*{text-align: center;}
legend{color: rgb(17, 240, 240);}
fieldset{color: rgb(31, 219, 239);}
*{background-color: rgb(215, 0, 205);}
try2{color: rgb(12, 255, 247);}
fieldset{padding: 5%;margin:5% 
;background-color: aqua;}